

.navbar-brand:hover {
  color: #fff;
}

.navbar-brand:focus {
  outline: none;
}




.nav-link:hover {
  color: #fff;
}



.btn-outline-success {
  /* background-color: #28A745;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 20px;
  margin-left: 10px;
  transition: all 0.3s ease; */
}

.btn-outline-success:hover {
  background-color: #fff;
  color: blueviolet;
  border: 2px solid red
}

.btn-outline-success:focus {
  outline: none;
}

