

.navbar-brand:hover {
  color: #fff;
}




.btn-outline-success:hover {
  background-color: #fff;
  color: blueviolet;
  border: 2px solid red
}

.btn-outline-success:focus {
  outline: none;
}
.Navbar{
  background-color: red;
  height: 10%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999; 
}
.petConatiner{
  background-color: aqua;
  top: 3em;
}



#header{
   margin-top: 1.6em;
   height: 10%;
   width: 100%;
   position: fixed;
   top: 0;
   z-index: 9999;
   color: coral;
   font-family: 'Times New Roman', Times, serif;
}