/* Reset Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  /* background-image: url(/src/App/pexels-amine-mayoufi-3069334.jpg);
  background-size: 50%; */
}

body{
  background-image: url(/src/App/pexels-amine-mayoufi-3069334.jpg);
  background-size: 30%;
  height: 80%;
  width: 100%;
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
 #background{
  z-index: 6000;
 }
  
 .navbar{
  background-color: alicebluez;
  position: fixed;
  z-index: 999999;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  top: 0;
 }
 button:hover,
 NavLink:hover,
 a:hover {
	 background-color: blue;
	 color: #333;
	 /* additional hover styles */
	 font-weight: bold;
	 text-decoration: none;
 }
  .par{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-left: -45em;
    width: 40em;
    margin-top: 3em;
  }
.Athauti{
  background-color: aqua;
  background-image: url(/src/App/pexels-amine-mayoufi-3069334.jpg);
  background-color: brown;
  background-size: 10%;
  height: 80%;
  width: 100%
}

.Container{
	margin-top: 0%;
}

/* Hero Image Styles */
.hero-image {
	background-image: url('https://images.unsplash.com/photo-1593642535819-d2c2f65e1f50?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
}

/* Button Styles */
button {
	width: 9em;
	height: 3em;
	border-radius: 30em;
	font-size: 15px;
	font-family: inherit;
	border: none;
	position: relative;
	overflow: hidden;
	z-index: 1;
	box-shadow: 6px 6px 12px #c5c5c5,
							-6px -6px 12px #ffffff;
 }
 
 button::before{
	content: '';
	width: 0;
	height: 3em;
	border-radius: 30em;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
	transition: .5s ease;
	display: block;
	z-index: -1;
 }
 
 button:hover::before , NavLink:hover::before {
	width: 9em;
 }
.button:hover {
	background-color: #2980b9;
	cursor: pointer;
}

/* Content Styles */
.content {
	padding: 50px;
}

.content h3 {
	margin-top: 50px;
	font-size: 24px;
}

.content label {
	display: block;
	margin-top: 20px;
	font-size: 18px;
}

.content input[type="text"] {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.content button[type="submit"] {
	background-color: #1abc9c

}


.card {
  
  background: lightgrey;
  border: 3px inset white;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: all .5s ease-in-out;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
	margin-top: 4em;
  font-weight: bolder;
  color: #8a8989;
	margin-left: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card:hover {
  transform: translateY(-5px);
  transition: all .5s ease-in-out;
}

.spiner {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	 /* background-color: #333; */
	 width: 100vh;
	 height: 100vh;
	 align-items: center;
	 justify-content: center;
}
.spiner::after{
	content: "";
	width: 75px;
	height: 75px;
	border:  15px solid white;
	border-top-color: #2980b9;
	border-radius: 50%;
	animation: Spinning 0.20s ease infinite;
}

@keyframes Spinning{
	from{transform: rotate(0turn)}
	to{transform: rotate(1turn)}
}